# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hijas\Documents\ECI.Angélica\Universidad\7 Semestre\CVDS\Laboratorio\Lab8-CVDS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
